---
layout: layout.njk
title: Compose Generator
sourceUrl: https://github.com/drastus/compose-generator
css:
  - /compose-app/compose-generator.css
---
<div id="root"></div>
<script type="module" src="/compose-app/compose-generator.js"></script>
