---
layout: layout.njk
title: Kalkulator mandatów w wyborach do Sejmu
lang: pl
sourceUrl: https://github.com/drastus/sejm-calculator
css:
  - /mandaty/main.css
---
<div id="root"></div>
<script src="/mandaty/sejm-calculator.js"></script>
